/* reset begins */
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video
	{
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 12px;
	font: inherit;
	vertical-align: baseline;
	font-weight: normal;
	color: #333;
}

article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section {
	display: block;
}

body {
	font-family: Arial, Helvetica, sans-serif;
	line-height: 1;
	overflow-y: scroll;
}

ol,ul {
	list-style: none;
}

blockquote,q {
	quotes: none;
}

blockquote:before,blockquote:after,q:before,q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

.float-left {
	float: left;
}

.float-right {
	float: right;
}

.clear-both {
	clear: both;
}

a {
	text-decoration: none;
}

.bold {
	font-weight: bold
}

/* reset ends */

header {
	background-color: #84A1E4;
}

#logo-cont {
	width: 220px;
	padding: 20px 10px;
}

img.logo {
	width: 100%;
}

#banner {
	font-size: 28px;
	font-style: italic;
	margin: 45px 10px 0 10px;
}

#banner h2 {
	color: #C00000;
}

#nav-cont {
	margin: 50px 10px 0 10px;
	color: black;
}

#nav-cont a {
	font-size: 15px;
	font-weight: bold;
}

#nav-cont a:HOVER {
	color: #C00000;
}

li.active a {
    background-color: #E7E7E7;
}

body {
	color: black;
	font-size: 14px;
}

.container {
	
}

.sec-title {
	font-weight: bold;
	font-size: 16px;
	color: #002060;
	padding: 4px;
}

.sec-content {
	font-size: 14px;
	padding: 10px 10px 10px 50px;
	color: black;
}

.sec-content p,.sec-content li {
	color: black;
}

.sec-content > ul {
	padding: 10px 30px;
	list-style: disc;
}

.copy-right-cont {
	text-align: center;
	color: #666;
	font-size: 14px;
	margin: 20px 10px;
}

#footer-cont {
	border-top: 1px solid #ccc;
	margin: 30px auto;
	width: 880px;
}



